/* Basic setup strat*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: sans-serif, arial;
    height: 3000px;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0;
    cursor: pointer;
}

p {
    line-height: 150%;
}

.clear {
    overflow: hidden;
}

/* login area design strar */
#login h2 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 500;
    font-style: italic;
}

#login {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0px 3px 7px black;
    padding: 15px;
    margin-top: 50px;
    border-radius: 5px;
}

.common-style {
    box-shadow: 0px 3px 7px black;
    padding: 40px;
    margin-top: 30px;
    border-radius: 5px;
}

.common-style h4 {
    font-size: 25px;
    margin-bottom: 3px;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(150, 0, 0);
    text-shadow: rgb(179, 136, 105);

}

/* login area design end */
/* transaction area design start */
.deposit {
    background-color: rgb(185, 107, 107);
}

.withdrow {
    background-color: rgb(224, 131, 8);
}

.balance {
    background-color: rgb(114, 8, 96);
}

.transac {
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 30px;

}

.depo h4 {
    color: rgb(147, 30, 123);
}

#transaction-area {
    display: none;
}

/* transaction area design end */